.section-founder{
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 63px;
    padding-bottom: 45px;
}

.section-founder__img-container{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
   
}

.img-container__founder-img{
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.img-container__check-container{
    position: relative;
    left: 25px;
    bottom: 150px;
}

.check-container__circle{
    position: absolute;
}

.check-container__check{
    position: absolute;
    top: 15px;
    left: 15px;
}



.section-founder__name{
    margin-bottom: 15px;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.9px;
    text-align: center;
    color: #222222;
}

.section-founder__position{
    margin-bottom: 25px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    text-align: center;
    color: #BDAC8D;

}

.section-founder__text{
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #777777;
}

@media (min-width: 1000px) {
    .section-founder{
        margin: 0 auto;
        width: 370px;
        margin-left: 17%;
        margin-right: 3px;
        margin-bottom: 133px;
        padding-bottom: 45px;
        box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.27);
    }
}