@media (min-width: 1000px) {
  .section-menu {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
  }
  .section-menu__donut {
    display: inline;
    text-align: right;
    position: absolute;
    visibility: hidden;
  }
  .section-menu__donut-complete {
    display: inline;
    text-align: left;
    position: relative;
    right: 180px;
    z-index: -1;
  }
  .section-menu__menu {
    margin-bottom: 24px;
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #777777;
  }
  .section-menu__our-food {
    margin-bottom: 32px;
    font-family: "Old Standard TT";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: #222222;
  }
  .section-menu__all-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .all-options__options {
    display: flex;
    margin-bottom: 16px;
    flex-direction: row;
    align-items: center;
    margin-right: 10%;
  }
  .all-options__options:hover {
    background-color: #222222;
    cursor: pointer;
  }
  .all-options__options:hover .text__name {
    color: rgb(255, 255, 255);
  }
  .all-options__options:hover .text__description {
    color: rgb(255, 255, 255);
  }
  .all-options__options:hover .options__golden-arrow-container {
    visibility: visible;
  }
  .options__img {
    width: 120px;
    height: 120px;
    margin-right: 30px;
  }
  .text__name {
    font-family: "Old Standard TT";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.72px;
    color: #222222;
  }
  .text__description {
    margin-top: 12px;
    margin-right: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #222222;
    width: 280px;
  }
  .options__golden-arrow-container {
    visibility: hidden;
  }
  .section-menu__buttons {
    position: relative;
    display: inline;
    text-align: right;
    margin-top: 31px;
    margin-right: 20px;
    margin-bottom: 60px;
    width: 100%;
    bottom: 550px;
  }
  .buttons__white {
    width: 100%;
    background: #F8F8F8;
    padding: 20px 25px 20px 25px;
  }
  .buttons__gold {
    width: 100%;
    margin-left: 16px;
    padding: 20px 25px 20px 25px;
    background: #BEAD8E;
    box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.15);
  }
  .white__button-img {
    width: 10px;
  }
  .gold__button-img {
    width: 10px;
  }
  .section-menu__carrusel {
    width: 100%;
    text-align: center;
    margin-bottom: 91px;
  }
  .carrusel__img {
    width: 80%;
  }
}
@media (max-width: 999px) {
  .section-menu {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .section-menu__donut {
    display: inline;
    text-align: right;
  }
  .section-menu__donut-complete {
    position: absolute;
    visibility: hidden;
  }
  .section-menu__menu {
    margin-bottom: 24px;
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #777777;
  }
  .section-menu__our-food {
    margin-bottom: 32px;
    font-family: "Old Standard TT";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: #222222;
  }
  .section-menu__all-options {
    display: flex;
    flex-direction: column;
  }
  .all-options__options {
    display: flex;
    margin-bottom: 16px;
    flex-direction: row;
    align-items: center;
  }
  .options__img {
    width: 120px;
    height: 120px;
    margin-right: 30px;
  }
  .text__name {
    font-family: "Old Standard TT";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.72px;
    color: #222222;
  }
  .text__description {
    margin-top: 12px;
    margin-right: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #222222;
  }
  .options__golden-arrow-container {
    visibility: hidden;
  }
  .section-menu__buttons {
    display: inline;
    text-align: right;
    margin-top: 31px;
    margin-right: 20px;
    margin-bottom: 60px;
  }
  .buttons__white {
    background: #F8F8F8;
    padding: 10px 15px 10px 15px;
  }
  .buttons__gold {
    margin-left: 16px;
    padding: 10px 15px 10px 15px;
    background: #BEAD8E;
    box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.15);
  }
  .section-menu__carrusel {
    width: 100%;
    text-align: center;
    margin-bottom: 91px;
  }
  .carrusel__img {
    width: 80%;
  }
}/*# sourceMappingURL=section-menu.css.map */