.section-related-rooms{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 101px;
}

.section-related-rooms__title{
    margin-bottom: 13.45px;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #222222;
}

.section-related-rooms__hr{
    margin-bottom: 32.55px;
}

@media (min-width: 1000px) {
    .section-related-rooms{
        width: 70%;
        position: relative;
        margin-bottom: 50px;
        left: 18%;
    }
    
    .section-related-rooms__title{
        width: 600px;
        border-bottom: 1px solid #F1F1F1;
    }
    
    .section-related-rooms__hr{
        visibility: hidden;
        position: absolute;
        left: -120%;
    }

    .section-related-rooms__container-related-rooms{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .container-related-rooms__container-img{
        width: 50%;
    }

}