.section-restaurant{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    background-color: rgba(255, 255, 255, 1);
}

.section-restaurant__img-container{
    margin-bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-container__img-restaurant{
    margin: 0 auto;
    width: 80%;
}

.restaurant__h3{
    margin-bottom: 26px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    color: #777777;
}

.restaurant__title{
    margin-bottom: 26px;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -1.05px;
    color: #222222;
}

.restaurant__text{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-bottom: 38px;
}

.restaurant__button:hover{
    cursor: pointer;
}

.button__restaurant-text{
    text-align: left;
    padding: 22px 46px 22px 46px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    background: #BEAD8E;
    color: #FFFFFF;
}

.restaurant__button{
    margin-left: 0px;
}

@media (min-width: 1000px) {
    .section-restaurant{
        box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .section-restaurant__img-container{
        margin-bottom: 32px;
        width: 30%;
        position: relative;
        top: 20px
    }
    
    .img-container__img-restaurant{
        width: 500px;
    }

    .section-restaurant__restaurant{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 110px;
    }
    
    
    
    .restaurant__title{
        width: 480px;
    }
    
    .restaurant__text{
        width: 480px;
    }
    
    .button__restaurant-text{
        width: 480px;
        
    }
    
    .restaurant__button{
        margin-left: 0px;
    }
}