DirectoryIndex ./controllers/index.php index.php

RewriteEngine On
RewriteRule ^about$ /controllers/about.php [L]
RewriteRule ^contact$ /controllers/contact.php [L]
RewriteRule ^offers$ /controllers/offers.php [L]
RewriteRule ^rooms$ /controllers/rooms.php [L]
RewriteRule ^roomDetails/([0-9]+)$ controllers/roomDetails.php?id=$1 [L]
