.section-slider-facilities{
    background: #222222;
    margin-bottom: 60px;
    padding-bottom: 73px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    overflow-x: hidden;
}

.section-slider-facilities-no-slider{
    background: #222222;
    margin-bottom: 60px;
    padding-bottom: 73px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    position: absolute;
    visibility: hidden;
    left: -300%;
    overflow-x: hidden;
}
.section-slider-facilities__carrusel{
    margin-top: 32px;
    background-color: #292929;
    display: flex;
    width: 100%;
}

.carrusel__carrusel{
    background-color: #292929;
    width: 90%;
    flex: 0 0 auto;
    
}

.section-slider-facilities__subtitle{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}

.section-slider-facilities__title{
    text-align: center;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: #FFFFFF;
    margin: 0px;
}

.swiper-pagination {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
  
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: rgba(237, 237, 237, 1);
    opacity: 0.8;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .swiper-pagination-bullet-active {
    background-color: rgba(190, 173, 142, 1);
  }


.img4__span01{
   
    margin-right: 32px;
    margin-left: 0px;
    text-align: right;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 130px;
    color: #222222;

}

.img4__container-goldFinger4{
    position: relative;
    margin-left: 38px;
}

.container-goldFinger4{
    position: absolute;
    top: -50px;
}

.carrusel__container-high4{
    margin-top: 58px;
    margin-left: 35px;
}

.container-high4__title{
    margin-bottom: 28px;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.9px;
    color: #FFFFFF;
}

.container-high4__p{
    margin-top: 28px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;

    padding-bottom: 51px;
    padding-right: 50px;

}

@media (min-width: 1000px) {

    .section-slider-facilities-no-slider{
        background: #222222;
        margin-bottom: 60px;
        padding-bottom: 73px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 40px;
        position: relative;
        visibility: visible;
        left: 0px;
    }

    .section-slider-facilities{
        background: #222222;
        margin-bottom: 60px;
        padding-bottom: 73px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 40px;
        position: absolute;
        visibility: hidden;
        left: -300%;
    }
    
    .section-slider-facilities__carrusel{
        margin-top: 32px;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       background: #222222;
    }
    
    .carrusel__carrusel{
        background-color: #292929;
        margin: 32px 15px 30px 15px;
    }
    
    .section-slider-facilities__subtitle{
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 16px;
    }
    
    .section-slider-facilities__title{
        text-align: center;
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: -1.2px;
        color: #FFFFFF;
        margin: 0px;
    }   
    
    
    .img4__span01{
       
        margin-right: 32px;
        margin-left: 0px;
        text-align: right;
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 700;
        font-size: 120px;
        line-height: 130px;
        color: #222222;
    
    }
    
    .img4__container-goldFinger4{
        position: relative;
        margin-left: 38px;
    }
    
    .container-goldFinger4{
        position: absolute;
        top: -50px;
    }
    
    .carrusel__container-high4{
        margin-top: 58px;
        margin-left: 35px;
    }
    
    .container-high4__title{
        margin-bottom: 28px;
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.9px;
        color: #FFFFFF;
    }
    
    .container-high4__p{
        margin-top: 28px;
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        padding-bottom: 51px;
        padding-right: 50px;
    
    }
    
}

